elasticsearch:
  host: 'http://192.168.255.1'
  port: 9200
  kibana_url: 'http://kibanaurl.ru/app/kibana#/dashboard/e7aac500-49b8-11ea-9397-e9a9cddae543'

request:
  stats_for: '10m'
  interval: 1

email:
  from: 'monit@example.ru'
  to:
    - somebody@gmail.com
    - someone@yandex.ru